<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h2>Title:</h2>
	<p><%= title %></p>
<h2>Author:</h2>
	<p><%= author %></p>
<h2>Summary:</h2>
	<p><%= summary %></p>
<h2>Pages:</h2>
	<p><%= pages %></p>
<h2>Publisher</h2>
	<p><%= publisher %></p>
<a href='/articles/index'><input type='submit' value='Go Back'></a>
</body>
</html>